<%= notice %>
<div class="index-wrap">
  <div class="content-left">
    <h1>Testagram</h1>
    <p class="info-txt">このサイトは、Railsの学習用に作成したテストサイトです。<br>
    実在するサービスとは一切関係ございませんので、ご注意ください。</p>
    <p class="link-main-btn"><%= link_to "投稿一覧へ", posts_path, :class => 'btn btn-info btn-post' %></p>
  </div>

  <div class="content-right">
    <img src="">
  </div>
</div>
