<section class="timeline">
  <ul class="timeline-items">
    <% @posts.each do |post| %>
      <li class="timeline-item">
        <p><%= post.content %></p>
        <div class="post-action-list">
          <span class="post-action btn btn-success"><%= link_to "編集", edit_post_path(post.id) %></span>
          <span class="post-action btn btn-danger"><%= link_to "削除", post_path(post.id), method: :delete, data: { confirm: '削除してよろしいですか？'} %></span>
        </div>
      </li>
    <% end %>
  </ul>
</section>

<%= link_to "投稿する", new_post_path, :class => 'btn btn-info btn-post' %>
