@mixin dark-btn { color: #FFF;}
@mixin light-btn { color: #333;}
@mixin default-fcolor { color: #333;}
@mixin default-hover { opacity: 0.7;}
@mixin default-ffamily{ font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;}
@mixin btn-facebook {background-color: #3B5998; color: #fff;}
@mixin btn-twitter {background-color: #00aced; color: #fff;}


html {
  height: 100%;
}

body{
  font-size: 16px;
  @include default-fcolor;
  @include default-ffamily;
  background: #FAFAFA;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

input[type="email"],
input[type="text"],
input[type="password"],
button,
textarea{
  margin: 0;
  padding: 10px;
  background: none;
  border: solid 1px #CCC;
  border-radius: 6px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a{
  @include default-fcolor;
  :hover{
    @include default-fcolor;
    @include default-hover;
  }
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

h2{
  margin-bottom: 40px;
}

header{
  background-color: #FFF;
  width: 100%;
  border-bottom: 1px solid #DDD;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.alert.alert-danger {
    font-size: 14px;
    text-align: left;
    h2{
      font-size: 16px;
    }
}

.wrapper{
  flex: 1;
}

.top-index-wrap{
  .main-logo{
    font-family: 'Norican', cursive;
  }
}

.notice-txt{
  margin: 0 0 2em;
  text-align: center;
}

.post-content,
.confirm-content{
  word-wrap: break-word;
}


.header-inner{
  display: flex;
  align-items: center;
  max-width: 1010px;
  margin: 0 auto;
  .header-logo{
    margin-right: auto;
    font-family: 'Norican', cursive;
  }
  .header-logo h1{
    position: relative;
    bottom: 2px;
    a{
      @include default-fcolor;
      text-decoration: none;
      padding-left: 65px;
      &:hover{
        @include default-fcolor;
        @include default-hover;
      }
    }
    i{
      position: absolute;
      top: 4px;
      left: 0;
      padding-right: 20px;
      border-right: 1px solid;
    }
  }
  .nav-lists{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    .nav-list{
      padding-left: 20px;
      padding-right: 20px;
      a{
        @include default-fcolor;
      }
    }
  }
}

.container{
  margin-bottom: 120px;
}

.timeline{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  .timeline-item{
    border: 1px solid #DDD;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 0;
    margin-bottom: 60px;
    .btn{
      a{
        @include default-fcolor;
      }
    }
    .btn-success{
      a{
        @include dark-btn;
      }
    }
    .btn-danger{
        a{
          @include dark-btn;
        }
    }
    .user-info {
      text-align: left;
      padding: 0 20px;
      .user-info-content{
        display: inline-block;
        vertical-align: middle;
      }
      .user-info-content-avatar img{
        width: 30px;
        border-radius: 50%;
        margin-top: -2px;
      }
      .user-info-content-name{
        font-size: 13px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .post-picture{
    margin: 20px 0;
  }
  .post-content{
    margin: 0 20px;
    font-size: 15px;
    text-align: left;
  }
  .post-action-list{
    margin-top: 30px;
  }
}

.btn-post{
  margin: 30px 0;
}

.form-content{
  i.fa{
    margin-right: 3px;
  }
  .selected-file{
    margin: 0 0 10px;
  }
  .confirm-picture{
    margin-bottom: 15px;
  }
  .confirm-content{
    margin: 0 0 15px;
  }
}
.field{
  margin: 0 0 25px;
}

.form-content-main{
  margin-bottom: 10px;
  .form-content-in{
    padding: 40px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    .actions{
      margin-top: 15px;
    }
    .field{
      input[type="email"],
      input[type="text"],
      input[type="password"]{
        width: 100%;
      }
      .field-label{
        font-size: 13px;
        margin-bottom: 15px;
        display: block;
        text-align: left;
      }
    }
    .field-remember_me{
      font-size: 13px;
      margin-bottom: 10px;
      label{
        font-weight: normal;
      }
    }
    .profile-img{
      max-width: 310px;
      display: block;
      margin: 20px auto;
    }
    .error_messages{
      margin-bottom: 30px;
      .alert{
        text-align: left;
        font-size: 13px;
      }
    }
  }
}

.form-content-sub{
  .btn-delete{
    margin-bottom: 20px;
  }
  .link-back{
    text-align: left;
    .btn-back{
      padding: 0;
    }
  }
  .btn-facebook{
    @include btn-facebook;
  }
  .btn-twitter{
    @include btn-twitter;
  }
}

.form-content-in{
  margin: 0 auto;
  float: none;
}

footer{
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background-color: #FFF;
  font-size: 13px;
}
