<!DOCTYPE html>
<html>
<head>
  <title>Testagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper col-md-12">

  <header class="text-center col-md-12">
    <h1>Testagram</h1>
  </header>

  <div class="container text-center">

  <%= yield %>

  </div>

  <footer class="text-center col-md-12">
    Copyright &copy; 2017, osapoco All Rights Reserved.
  </footer>

</div>

</body>
</html>
